<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>adyagd.godlikefaces/difficulty_-1_0_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2.5}</string>
				<key>spriteSize</key>
				<string>{120,168}</string>
				<key>spriteSourceSize</key>
				<string>{120,173}</string>
				<key>textureRect</key>
				<string>{{0,936},{120,168}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_-1_0_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2.5}</string>
				<key>spriteSize</key>
				<string>{120,168}</string>
				<key>spriteSourceSize</key>
				<string>{120,173}</string>
				<key>textureRect</key>
				<string>{{169,936},{120,168}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_0_0_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{119,168}</string>
				<key>spriteSourceSize</key>
				<string>{120,173}</string>
				<key>textureRect</key>
				<string>{{338,936},{119,168}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_0_0_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{119,168}</string>
				<key>spriteSourceSize</key>
				<string>{120,173}</string>
				<key>textureRect</key>
				<string>{{507,935},{119,168}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_1_0_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2.5}</string>
				<key>spriteSize</key>
				<string>{120,168}</string>
				<key>spriteSourceSize</key>
				<string>{120,173}</string>
				<key>textureRect</key>
				<string>{{676,935},{120,168}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_1_0_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2.5}</string>
				<key>spriteSize</key>
				<string>{120,168}</string>
				<key>spriteSourceSize</key>
				<string>{120,173}</string>
				<key>textureRect</key>
				<string>{{940,0},{120,168}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_10_0_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4.5}</string>
				<key>spriteSize</key>
				<string>{158,183}</string>
				<key>spriteSourceSize</key>
				<string>{160,192}</string>
				<key>textureRect</key>
				<string>{{441,221},{158,183}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_10_0_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,4.5}</string>
				<key>spriteSize</key>
				<string>{174,183}</string>
				<key>spriteSourceSize</key>
				<string>{200,240}</string>
				<key>textureRect</key>
				<string>{{440,592},{174,183}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_10_1_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-13.5}</string>
				<key>spriteSize</key>
				<string>{192,219}</string>
				<key>spriteSourceSize</key>
				<string>{194,246}</string>
				<key>textureRect</key>
				<string>{{0,411},{192,219}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_10_1_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-13.5}</string>
				<key>spriteSize</key>
				<string>{192,219}</string>
				<key>spriteSourceSize</key>
				<string>{194,246}</string>
				<key>textureRect</key>
				<string>{{220,411},{192,219}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_2_0_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2.5}</string>
				<key>spriteSize</key>
				<string>{172,168}</string>
				<key>spriteSourceSize</key>
				<string>{172,173}</string>
				<key>textureRect</key>
				<string>{{0,767},{172,168}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_2_0_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2.5}</string>
				<key>spriteSize</key>
				<string>{172,168}</string>
				<key>spriteSourceSize</key>
				<string>{172,173}</string>
				<key>textureRect</key>
				<string>{{173,767},{172,168}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_3_0_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{120,167}</string>
				<key>spriteSourceSize</key>
				<string>{120,170}</string>
				<key>textureRect</key>
				<string>{{940,169},{120,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_3_0_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{120,167}</string>
				<key>spriteSourceSize</key>
				<string>{120,170}</string>
				<key>textureRect</key>
				<string>{{924,342},{120,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_4_0_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{170,167}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{346,767},{170,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_4_0_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{170,167}</string>
				<key>spriteSourceSize</key>
				<string>{170,170}</string>
				<key>textureRect</key>
				<string>{{517,767},{170,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_5_0_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{152,169}</string>
				<key>spriteSourceSize</key>
				<string>{152,173}</string>
				<key>textureRect</key>
				<string>{{780,513},{152,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_5_0_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{152,169}</string>
				<key>spriteSourceSize</key>
				<string>{152,173}</string>
				<key>textureRect</key>
				<string>{{771,683},{152,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_6_0_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,6}</string>
				<key>spriteSize</key>
				<string>{146,183}</string>
				<key>spriteSourceSize</key>
				<string>{150,195}</string>
				<key>textureRect</key>
				<string>{{643,0},{146,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_6_1_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-13}</string>
				<key>spriteSize</key>
				<string>{146,220}</string>
				<key>spriteSourceSize</key>
				<string>{150,246}</string>
				<key>textureRect</key>
				<string>{{0,264},{146,220}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_6_1_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-13}</string>
				<key>spriteSize</key>
				<string>{148,220}</string>
				<key>spriteSourceSize</key>
				<string>{150,246}</string>
				<key>textureRect</key>
				<string>{{348,0},{148,220}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_6_0_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,6}</string>
				<key>spriteSize</key>
				<string>{149,183}</string>
				<key>spriteSourceSize</key>
				<string>{150,195}</string>
				<key>textureRect</key>
				<string>{{625,209},{149,183}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_7_0_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1}</string>
				<key>spriteSize</key>
				<string>{146,170}</string>
				<key>spriteSourceSize</key>
				<string>{150,172}</string>
				<key>textureRect</key>
				<string>{{624,576},{146,170}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_7_0_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{149,170}</string>
				<key>spriteSourceSize</key>
				<string>{150,172}</string>
				<key>textureRect</key>
				<string>{{790,0},{149,170}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_7_1_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-20}</string>
				<key>spriteSize</key>
				<string>{145,208}</string>
				<key>spriteSourceSize</key>
				<string>{150,248}</string>
				<key>textureRect</key>
				<string>{{497,0},{145,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_7_1_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-20}</string>
				<key>spriteSize</key>
				<string>{149,208}</string>
				<key>spriteSourceSize</key>
				<string>{150,248}</string>
				<key>textureRect</key>
				<string>{{440,383},{149,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_8_0_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{143,170}</string>
				<key>spriteSourceSize</key>
				<string>{144,172}</string>
				<key>textureRect</key>
				<string>{{790,171},{143,170}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_8_0_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{143,170}</string>
				<key>spriteSourceSize</key>
				<string>{144,172}</string>
				<key>textureRect</key>
				<string>{{780,342},{143,170}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_8_1_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-19.5}</string>
				<key>spriteSize</key>
				<string>{162,207}</string>
				<key>spriteSourceSize</key>
				<string>{162,246}</string>
				<key>textureRect</key>
				<string>{{0,604},{162,207}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_8_1_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-19.5}</string>
				<key>spriteSize</key>
				<string>{162,207}</string>
				<key>spriteSourceSize</key>
				<string>{162,246}</string>
				<key>textureRect</key>
				<string>{{208,604},{162,207}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_9_0_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,5}</string>
				<key>spriteSize</key>
				<string>{155,182}</string>
				<key>spriteSourceSize</key>
				<string>{158,192}</string>
				<key>textureRect</key>
				<string>{{624,393},{155,182}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_9_0_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,27.5}</string>
				<key>spriteSize</key>
				<string>{173,226}</string>
				<key>spriteSourceSize</key>
				<string>{240,291}</string>
				<key>textureRect</key>
				<string>{{174,0},{173,226}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_9_1_3_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-13.5}</string>
				<key>spriteSize</key>
				<string>{155,219}</string>
				<key>spriteSourceSize</key>
				<string>{162,246}</string>
				<key>textureRect</key>
				<string>{{221,227},{155,219}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>adyagd.godlikefaces/difficulty_9_1_4_god.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,8.5}</string>
				<key>spriteSize</key>
				<string>{173,263}</string>
				<key>spriteSourceSize</key>
				<string>{240,364}</string>
				<key>textureRect</key>
				<string>{{0,0},{173,263}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>adyagd.godlikefaces/GodlikeDiffSheet-uhd.png</string>
			<key>size</key>
			<string>{1060,1056}</string>
			<key>textureFileName</key>
			<string>adyagd.godlikefaces/GodlikeDiffSheet-uhd.png</string>
		</dict>
	</dict>
</plist>