<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>itzkiba.grandpa_demon/GrD_demon0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,3}</string>
			<key>spriteSize</key>
			<string>{81,94}</string>
			<key>spriteSourceSize</key>
			<string>{85,104}</string>
			<key>textureRect</key>
			<string>{{197,226},{81,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon0_text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-5.25}</string>
			<key>spriteSize</key>
			<string>{97,111}</string>
			<key>spriteSourceSize</key>
			<string>{123,123}</string>
			<key>textureRect</key>
			<string>{{220,114},{97,111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,3.5}</string>
			<key>spriteSize</key>
			<string>{82,92}</string>
			<key>spriteSourceSize</key>
			<string>{86,102}</string>
			<key>textureRect</key>
			<string>{{201,320},{82,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon1_text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-5.25}</string>
			<key>spriteSize</key>
			<string>{99,110}</string>
			<key>spriteSourceSize</key>
			<string>{123,123}</string>
			<key>textureRect</key>
			<string>{{0,226},{99,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,4}</string>
			<key>spriteSize</key>
			<string>{85,93}</string>
			<key>spriteSourceSize</key>
			<string>{93,100}</string>
			<key>textureRect</key>
			<string>{{120,120},{85,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon2_text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-4.5}</string>
			<key>spriteSize</key>
			<string>{119,111}</string>
			<key>spriteSourceSize</key>
			<string>{123,123}</string>
			<key>textureRect</key>
			<string>{{108,0},{119,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.25,4}</string>
			<key>spriteSize</key>
			<string>{85,94}</string>
			<key>spriteSourceSize</key>
			<string>{91,101}</string>
			<key>textureRect</key>
			<string>{{111,226},{85,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon3_text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,-4.5}</string>
			<key>spriteSize</key>
			<string>{107,113}</string>
			<key>spriteSourceSize</key>
			<string>{123,123}</string>
			<key>textureRect</key>
			<string>{{220,0},{107,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{101,93}</string>
			<key>spriteSourceSize</key>
			<string>{101,100}</string>
			<key>textureRect</key>
			<string>{{107,326},{101,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon4_infinity.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7.5,3.5}</string>
			<key>spriteSize</key>
			<string>{92,54}</string>
			<key>spriteSourceSize</key>
			<string>{125,62}</string>
			<key>textureRect</key>
			<string>{{328,0},{92,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon4_text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{102,119}</string>
			<key>spriteSourceSize</key>
			<string>{123,123}</string>
			<key>textureRect</key>
			<string>{{0,123},{102,119}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.25}</string>
			<key>spriteSize</key>
			<string>{106,105}</string>
			<key>spriteSourceSize</key>
			<string>{107,109}</string>
			<key>textureRect</key>
			<string>{{0,326},{106,105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon5_text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.25}</string>
			<key>spriteSize</key>
			<string>{107,122}</string>
			<key>spriteSourceSize</key>
			<string>{123,123}</string>
			<key>textureRect</key>
			<string>{{0,0},{107,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>itzkiba.grandpa_demon/GrD_IconSheet-hd.png</string>
		<key>size</key>
		<string>{382,431}</string>
		<key>textureFileName</key>
		<string>itzkiba.grandpa_demon/GrD_IconSheet-hd.png</string>
	</dict>
</dict>
</plist>
