<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>uproxide.more_difficulties/MD_Difficulty04_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{82,85}</string>
				<key>spriteSourceSize</key>
				<string>{82,87}</string>
				<key>textureRect</key>
				<string>{{61,0},{82,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04_LegacyLegendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{82,85}</string>
				<key>spriteSourceSize</key>
				<string>{82,87}</string>
				<key>textureRect</key>
				<string>{{0,87},{82,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04_LegacyMythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{82,85}</string>
				<key>spriteSourceSize</key>
				<string>{82,87}</string>
				<key>textureRect</key>
				<string>{{144,0},{82,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.25,-0.5}</string>
				<key>spriteSize</key>
				<string>{82,85}</string>
				<key>spriteSourceSize</key>
				<string>{82,87}</string>
				<key>textureRect</key>
				<string>{{86,86},{82,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Legendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{82,85}</string>
				<key>spriteSourceSize</key>
				<string>{82,87}</string>
				<key>textureRect</key>
				<string>{{0,170},{82,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>MD_Difficulty04Mythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{82,85}</string>
				<key>spriteSourceSize</key>
				<string>{82,87}</string>
				<key>textureRect</key>
				<string>{{86,169},{82,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Small_Lecacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{172,314},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{233,314},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{70,85}</string>
				<key>spriteSourceSize</key>
				<string>{70,87}</string>
				<key>textureRect</key>
				<string>{{227,0},{70,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07_LegacyLegendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{70,85}</string>
				<key>spriteSourceSize</key>
				<string>{70,87}</string>
				<key>textureRect</key>
				<string>{{172,86},{70,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07_LegacyMythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{70,85}</string>
				<key>spriteSourceSize</key>
				<string>{70,87}</string>
				<key>textureRect</key>
				<string>{{172,157},{70,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.25,-0.5}</string>
				<key>spriteSize</key>
				<string>{70,85}</string>
				<key>spriteSourceSize</key>
				<string>{70,87}</string>
				<key>textureRect</key>
				<string>{{0,253},{70,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Legendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{70,85}</string>
				<key>spriteSourceSize</key>
				<string>{70,87}</string>
				<key>textureRect</key>
				<string>{{86,252},{70,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Mythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{70,85}</string>
				<key>spriteSourceSize</key>
				<string>{70,87}</string>
				<key>textureRect</key>
				<string>{{172,243},{70,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{294,312},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{367,0},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,85}</string>
				<key>spriteSourceSize</key>
				<string>{68,86}</string>
				<key>textureRect</key>
				<string>{{243,157},{68,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09_LegacyLegendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{68,85}</string>
				<key>spriteSourceSize</key>
				<string>{68,86}</string>
				<key>textureRect</key>
				<string>{{298,0},{68,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09_LegacyMythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{68,85}</string>
				<key>spriteSourceSize</key>
				<string>{68,86}</string>
				<key>textureRect</key>
				<string>{{258,86},{68,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.25,0}</string>
				<key>spriteSize</key>
				<string>{68,85}</string>
				<key>spriteSourceSize</key>
				<string>{68,86}</string>
				<key>textureRect</key>
				<string>{{258,243},{68,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Legendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{68,85}</string>
				<key>spriteSourceSize</key>
				<string>{68,86}</string>
				<key>textureRect</key>
				<string>{{0,324},{68,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Mythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{68,85}</string>
				<key>spriteSourceSize</key>
				<string>{68,86}</string>
				<key>textureRect</key>
				<string>{{86,323},{68,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{367,61},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,58}</string>
				<key>spriteSourceSize</key>
				<string>{60,58}</string>
				<key>textureRect</key>
				<string>{{355,122},{60,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_DifficultyCP.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{60,86}</string>
				<key>spriteSourceSize</key>
				<string>{60,87}</string>
				<key>textureRect</key>
				<string>{{0,0},{60,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>uproxide.more_difficulties/MD_DifficultySheet-hd.png</string>
			<key>size</key>
			<string>{427,392}</string>
			<key>textureFileName</key>
			<string>uproxide.more_difficulties/MD_DifficultySheet-hd.png</string>
		</dict>
	</dict>
</plist>