<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>uproxide.more_difficulties/MD_Difficulty04_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1}</string>
				<key>spriteSize</key>
				<string>{163,169}</string>
				<key>spriteSourceSize</key>
				<string>{163,174}</string>
				<key>textureRect</key>
				<string>{{0,0},{163,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04_LegacyLegendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{163,169}</string>
				<key>spriteSourceSize</key>
				<string>{163,174}</string>
				<key>textureRect</key>
				<string>{{164,0},{163,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04_LegacyMythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{163,169}</string>
				<key>spriteSourceSize</key>
				<string>{163,174}</string>
				<key>textureRect</key>
				<string>{{0,170},{163,169}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{163,169}</string>
				<key>spriteSourceSize</key>
				<string>{163,174}</string>
				<key>textureRect</key>
				<string>{{170,170},{163,169}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Legendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{163,169}</string>
				<key>spriteSourceSize</key>
				<string>{163,174}</string>
				<key>textureRect</key>
				<string>{{328,0},{163,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Mythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{163,169}</string>
				<key>spriteSourceSize</key>
				<string>{163,174}</string>
				<key>textureRect</key>
				<string>{{0,334},{163,169}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Small_Lecacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{338,617},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{459,617},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1}</string>
				<key>spriteSize</key>
				<string>{139,169}</string>
				<key>spriteSourceSize</key>
				<string>{139,174}</string>
				<key>textureRect</key>
				<string>{{340,170},{139,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07_LegacyLegendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{139,169}</string>
				<key>spriteSourceSize</key>
				<string>{139,174}</string>
				<key>textureRect</key>
				<string>{{170,334},{139,169}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07_LegacyMythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{139,169}</string>
				<key>spriteSourceSize</key>
				<string>{139,174}</string>
				<key>textureRect</key>
				<string>{{492,0},{139,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.7,-1}</string>
				<key>spriteSize</key>
				<string>{139,169}</string>
				<key>spriteSourceSize</key>
				<string>{139,174}</string>
				<key>textureRect</key>
				<string>{{480,170},{139,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Legendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{139,169}</string>
				<key>spriteSourceSize</key>
				<string>{139,174}</string>
				<key>textureRect</key>
				<string>{{340,340},{139,169}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Mythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{139,169}</string>
				<key>spriteSourceSize</key>
				<string>{139,174}</string>
				<key>textureRect</key>
				<string>{{170,474},{139,169}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{580,504},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{580,625},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,0}</string>
				<key>spriteSize</key>
				<string>{136,167}</string>
				<key>spriteSourceSize</key>
				<string>{136,172}</string>
				<key>textureRect</key>
				<string>{{340,480},{136,167}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09_LegacyLegendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{136,167}</string>
				<key>spriteSourceSize</key>
				<string>{136,172}</string>
				<key>textureRect</key>
				<string>{{632,0},{136,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09_LegacyMythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{136,167}</string>
				<key>spriteSourceSize</key>
				<string>{136,172}</string>
				<key>textureRect</key>
				<string>{{632,168},{136,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0.25}</string>
				<key>spriteSize</key>
				<string>{136,167}</string>
				<key>spriteSourceSize</key>
				<string>{136,172}</string>
				<key>textureRect</key>
				<string>{{620,336},{136,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Legendary.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{136,167}</string>
				<key>spriteSourceSize</key>
				<string>{136,172}</string>
				<key>textureRect</key>
				<string>{{170,614},{136,167}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Mythic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{136,167}</string>
				<key>spriteSourceSize</key>
				<string>{136,172}</string>
				<key>textureRect</key>
				<string>{{0,619},{136,167}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{769,0},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{118,115}</string>
				<key>spriteSourceSize</key>
				<string>{120,115}</string>
				<key>textureRect</key>
				<string>{{769,121},{118,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_DifficultyCP.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{120,169}</string>
				<key>spriteSourceSize</key>
				<string>{120,173}</string>
				<key>textureRect</key>
				<string>{{0,498},{120,169}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>uproxide.more_difficulties/MD_DifficultySheet-uhd.png</string>
			<key>size</key>
			<string>{889,774}</string>
			<key>textureFileName</key>
			<string>uproxide.more_difficulties/MD_DifficultySheet-uhd.png</string>
		</dict>
	</dict>
</plist>