<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DP_AmberSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{76,93}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{0,0},{76,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_AmethystSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{84,106}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{95,0},{84,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_AzuriteSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,6}</string>
			<key>spriteSize</key>
			<string>{88,107}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{203,0},{88,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_BeginnerSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{76,90}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{312,0},{76,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_BronzeSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{76,90}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{404,0},{76,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_DiamondSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{84,97}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{312,78},{84,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_EmeraldSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{84,97}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{411,78},{84,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_GoldSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,92}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{0,78},{76,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_JadeSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{84,97}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{94,86},{84,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_ObsidianSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,5}</string>
			<key>spriteSize</key>
			<string>{86,106}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{193,90},{86,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_OnyxSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{84,118}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{301,164},{84,118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_PlatinumSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{82,96}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{421,164},{82,96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_RubySmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{84,97}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{0,156},{84,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>DP_SapphireSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{84,97}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{86,172},{84,97}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>DP_SilverSmallText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{76,93}</string>
			<key>spriteSourceSize</key>
			<string>{149,122}</string>
			<key>textureRect</key>
			<string>{{185,178},{76,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultySmallText-hd.png</string>
		<key>size</key>
		<string>{517,256}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultySmallText-hd.png</string>
	</dict>
</dict>
</plist>