<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_AmberText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,-16}</string>
			<key>spriteSize</key>
			<string>{143,210}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,0},{143,210}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AmethystText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,-8}</string>
			<key>spriteSize</key>
			<string>{245,241}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{212,0},{245,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_AzuriteText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-9}</string>
			<key>spriteSize</key>
			<string>{203,240}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{459,0},{203,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BeginnerText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,-18}</string>
			<key>spriteSize</key>
			<string>{201,203}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{701,0},{201,203}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_BronzeText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-18}</string>
			<key>spriteSize</key>
			<string>{162,203}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,145},{162,203}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_DiamondText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-11}</string>
			<key>spriteSize</key>
			<string>{186,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{701,203},{186,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_EmeraldText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-11}</string>
			<key>spriteSize</key>
			<string>{190,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{459,205},{190,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_GoldText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-17}</string>
			<key>spriteSize</key>
			<string>{141,208}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{205,243},{141,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_JadeText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-11}</string>
			<key>spriteSize</key>
			<string>{158,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,309},{158,217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_ObsidianText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-9}</string>
			<key>spriteSize</key>
			<string>{218,240}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{160,386},{218,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_OnyxText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-8}</string>
			<key>spriteSize</key>
			<string>{165,242}</string>
			<key>spriteSourceSize</key>
			<string>{298,257}</string>
			<key>textureRect</key>
			<string>{{678,391},{165,242}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_PlatinumText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,-12}</string>
			<key>spriteSize</key>
			<string>{203,216}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{402,397},{203,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_RubyText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-11}</string>
			<key>spriteSize</key>
			<string>{159,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{620,558},{159,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SapphireText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-12}</string>
			<key>spriteSize</key>
			<string>{209,217}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{839,558},{209,217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_SilverText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,-16}</string>
			<key>spriteSize</key>
			<string>{143,209}</string>
			<key>spriteSourceSize</key>
			<string>{298,244}</string>
			<key>textureRect</key>
			<string>{{0,528},{143,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultyText-uhd.png</string>
		<key>size</key>
		<string>{1048,775}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/DifficultyText-uhd.png</string>
	</dict>
</dict>
</plist>